html {
	background: url(cream_dust.png);
}

.form-container {
	width: 100%;
}

.input-container {
	width: 80%;
	margin: 0 auto;
}
.input-container label {
	width: 100px;
}

.user-name {
	text-align: right;
}

.input-field {
	margin: 1em;
	border-radius: 4px;
	border: 0;
	border: 1px solid #c1c1c1;
	width: 15em;
	padding: .4em;
	vertical-align: middle;
}

.multiple-input-container {
	text-align: right;
	width: 50%;
	margin: 0 auto;
}

.med-input-field {
	width: 7em;
}

.sml-input-field {
	width: 2em;
}

.sml-submit-button {
	width: 80px;
}

.submit-button {
	margin-left: 1em;
	/* inline by default */
	padding: .4em;
	&:hover {
		background-color: rgba(193, 193, 193, 0.7);
	};
}

.input-container.footer:before {
	content:' ';
	display: inline-block;
	width: 100px;
}



input[type="checkbox"] {
	margin-right: 1em;
}

.is-valid {
	color: green;
}

.is-valid-field {
	box-shadow: 0px 0px 5px 0px green;
}

.is-invalid {
	color: red;
}

.is-invalid-field {
	outline-color: red;
	box-shadow: 0px 0px 5px 0px red;
}

label {
	display: inline-block;
}

.checkbox-container {
	width: 100%;
	margin-left: 18%;
	width: 200px;
	margin-left: 25%;
	label {
		width: 220px;
	}
}

.short-field {
	margin-left: -10%;
}
